html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input {
  width: 3em;

}


.left-content {
  text-align: left;
}
.right-content {
  text-align: right;
}
.left-content, .right-content {
  display: inline-block;
  width: 50%;
}